{% extends "base.html" %}

{% macro user(name) -%}
{% if name is string %}
<span class="chip">
  <!--
  {% if site.persons.get(name,None).image %}
  <img src="{{site.persons.get(name,None).image}}" class="avatar avatar-sm">
  {%endif%}
   -->
  <a href="{{site.persons.get(name,None).link}}">{{name}}</a>
</span>
{%else%}
{%for n in name%}{{user(n)}}{%endfor%}
{%endif%}
{%- endmacro %}

{% macro session(name, chair, slots, closed="") -%}
<span class="session {{closed}}">
  Session: {{name}} &mid;
  Chair:  {{user(chair)}}
</span><br>
{%for s in slots%} {{talk(s)}}{%endfor%}
{%- endmacro %}

{% macro talk(slotId) -%}
{% if slotId in bySlot %}
{% set t = bySlot[slotId] %}
<p class="slot {{t.meta.type}} L{{t.meta.length}}" id="slot-{{slotId}}">
  <!-- {{slotId}}
  <span class="bg-error label">Slot:{{slotId}}</span>
  -->
  <a href="#talk-{{slotId}}">{{ t.meta.title }}</a>
  <span class="label time"> {{ t.meta.length }} min. </span>
  <br>
  {{user(t.meta.author)}}
</p>

{% else %}
<span class="bg-error label">
  Slot {{slotId}} not assigned to a talk.
</span>
{% endif %}
{%- endmacro %}

{% macro entry(text,type) -%}
<p class="slot {{type}}">
  {{ text  }}
</p>
{%- endmacro %}

{% block content %}

<h1>Prelimniary Programme</h1>
<h3 style="text-decoration: line-through">more like a draft than final</h3>
<h3>not so preliminary anymore</h3>

<p>
<a href="events.ics">Program is also available as an ical file,
  that can be subscribed in your calender app</a>
</p>


<details class="day" open>
  <summary>Day 0 - Monday, 29th July</summary>

  <table class="table">
    <tr>
      <th>Time</th>
      <th>Topic</th>
    </tr>

    <tr class="social">
      <td>12:35 &ndash; 17:00</td>
      <td>{{talk(999)}}</td>
    </tr>

    <tr class="">
      <td>17:00 &ndash; 18:00</td>
      <td>
	{{ entry("Registration", "admin")}}
      </td>
    </tr>

    <tr>
      <td>18:00 &ndash; 19:00</td>
      <td>
	{{ entry("Dinner at Haus der Kirche", "break")}}
      </td>
    </tr>

    <
    tr>
      <td>19:00 &ndash;</td>
      <td>
	{{entry("Getting Together at the bar", "social")}}
      </td>
    </tr>

    <tr>
      <td>20:00 &ndash; 21:00</td>
      <td>
	{{entry("Meeting of the Programme Board", "admin")}}
      </td>
    </tr>
  </table>
</details>

<details class="day" open>
  <summary>Day 1 &ndash; Tuesday, 30th July</summary>
  <table class="table">
    <tr>
      <td>Time</td>
      <td>Topic</td>
    </tr>

    <tr>
      <td>08:45 &ndash;09:00</td>
      <td>{{ talk(10) }}</td>
    </tr>

    <tr>
      <td>09:00 &ndash;10:30</td>
      <td>
	{{ session("Handling of Probabilistic Programs", "Alexander Weigl", [11,12,123], "closed") }}
      </td>
    </tr>

    <tr>
      <td>10:30 &ndash; 11:00</td>
      <td>{{entry("Coffee", "break")}}</td>
    </tr>

    <tr>
      <td>11:00  &ndash; 12:30</td>
      <td>
	{{ session("Verification with Legal Aspects", "Richard Bubel", [19,191,192,193], "closed") }}
      </td>
    </tr>

    <tr class="break">
      <td>12:30  &ndash; 14:00</td>
      <td>{{entry("Lunch", "break")}}</td>
    </tr>

    <tr class="track-key">
      <td>
	14:00  &ndash; 15:30
	<br>
	Room: SR7+8
      </td>
      <td>{{ session("Case Studies in KeY", "Michael Kirsten", [116,117,118], "closed") }}</td>
    </tr>

    <tr class="track-keymaera">
      <td>
	14:00  &ndash; 15:30
	<br>
	Room: SR6
      </td>
      <td>{{ session("Proving Safety with dL", "Yong Kiam Tan", [216,217,218]) }}</td>
    </tr>

    <tr class="break">
      <td>
	15:30  &ndash; 16:00
      </td>
      <td>{{entry("Coffee", "break")}}</td>
    </tr>

    <tr class="track-key">
      <td>
	16:00  &ndash; 17:30
	<br>
	Room: SR7+8
      </td>
      <td>{{ session("New Verification Methodologies with/in KeY", "Wojciech Mostowski",
	[113,114,115], "closed") }}</td>
    </tr>

    <tr class="track-keymaera">
      <td>
	16:00  &ndash; 17:45
      	<br>
	Room: SR6
      </td>
      <td>{{ session("Games for Hybrid Systems", "Enguerrand Prebet", [214,213,215,219,220], "closed") }}</td>
    </tr>

    <tr class="break">
      <td>18:00  &ndash; 19:00</td>
      <td>{{entry("Dinner at Haus der Kirche", "break")}}</td>
    </tr>

    <tr class="social">
      <td>19:00  &ndash;</td>
      <td>{{talk(998)}}</td>
    </tr>
  </table>
</details>


<details class="day" open>
  <summary>Day 2 &ndash; Wednesday, 31td July</summary>

  <table class="table">
    <colgroup>
      <column widtd="20%" />
      <column widtd="80%"/>
    </colgroup>

    <tr>
      <td>Time</td>
      <td>Topic</td>
    </tr>

    <tr>
      <td>09:00 &ndash;10:30</td>
      <td>{{ session("Formal Methods for CPS", "André Platzer", [20,22,33]) }}</td>
    </tr>

    <tr class="break">
      <td>10:30 &ndash;11:00</td>
      <td>{{entry("Coffee", "break")}}</td>
    </tr>

    <tr>
      <td>11:00  &ndash; 12:30</td>
      <td>
	{{ session("“Efficient Analysis of Software Systems", "Bernhard Beckert", [13,14,15]) }}
      </td>
    </tr>

    <tr class="break">
      <td>12:30  &ndash; 14:00</td>
      <td>{{entry("Lunch", "break")}}</td>
    </tr>

    <tr class="">
      <td>14:00  &ndash; 15:30</td>
      <td>{{ session("Program Analyses of Software Systems", "Mattias Ulbrich", [207,209,208]) }}</td>
    </tr>

    <tr class="break">
      <td>15:30  &ndash; 16:00</td>
      <td>{{entry("Coffee", "break")}}</td>
    </tr>

    <tr>
      <td>16:00  &ndash; 18:00</td>
      <td>{{ session("Intersymbolic AI", "Ina Schaefer", [16,17,18,199,1999]) }}</td>
    </tr>

    <tr class="break">
      <td>19:00  &ndash;</td>
      <td>Dinner: Klosterschänke</td>
    </tr>
  </table>
</details>

<details class="day" open>
  <summary>Day 3 &ndash; Thursday, 1st August</summary>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Topic</th>
    </tr>

    <tr>
      <th>&ndash; 09:00</th>
      <td>Check-out!</td>
    </tr>

    <tr>
      <th>09:00 &ndash; 10:45</th>
      <td>
	{{ session("Isabelle", "Reiner Hähnle", [30,31, 301, 34]) }}
      </td>
    </tr>

    <tr class="break">
      <th>10:45 &ndash;11:15</th>
      <td>{{entry("Coffee", "break")}}</td>
    </tr>

    <tr>
      <th>11:00  &ndash; 12:15</th>
      <td>
	{{ session("#8", "Wolfang Ahrendt", [32,21,35]) }}
      </td>
    </tr>

    <tr>
      <th>12:20  &ndash; 12:30</th>
      <td>
	{{ talk(36) }}
      </td>
    </tr>

    <tr class="break">
      <th>12:30  &ndash; </th>
      <td>{{ entry("Lunch", "break") }}</td>
    </tr>
  </table>
</details>

<h2>Talks</h2>
<div class="talks">
  {% for t in talks %}
  <div class="talk-entry {{t.meta.type}}">
    <h3 id="talk-{{t.meta.slot}}">
      <a href="#slot-{{t.meta.slot}}">{{t.meta.title}}</a>
      {% if t.meta.type == 'invited' -%}
      <span class="label bg-error">Invited Talk</span>
      {%elif t.meta.type == 'regular' -%}
      {%-endif%}
    </h3>
    <h4>{{user(t.meta.author)}}</h4>
    <div class="content">
      {{t.content | safe }}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
