main {
    padding:5em;
    width:auto;
}

.navbar {  background: rgb(25,55,25); padding:1ex;}
.navbar a, .navbar .btn.btn-link {   color: white; }
.hero {
    background: rgb(25,55,25);
    color:white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}


.track-key {
    background: rgba(0,255,0,0.3);
}

.track-keymaera {
    background: rgba(0,0,255,0.3);
}


.break { background: #666; color:white;}


details {margin-bottom:2em;}

.slot:target { border: 1px solid red;}


ul { list-style:disc !important;}
